<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./absolutNav.css" type="text/css" />
  </head>
  <body>
    <div class="subNav">
      <div class="box1">
        <div class="circle">
          <div class="subCircleActive"><div class="innerCircle"></div></div>
        </div>
        <div class="pipe"></div>
        <div class="circle">
          <div class="subCircle"><div class="innerCircle"></div></div>
        </div>
        <div class="pipe"></div>
        <div class="circle">
          <div class="subCircle"><div class="innerCircle"></div></div>
        </div>
        <div class="pipe"></div>
        <div class="circle">
          <div class="subCircle"><div class="innerCircle"></div></div>
        </div>
        <div class="pipe"></div>
        <div class="circle">
          <div class="subCircle"><div class="innerCircle"></div></div>
        </div>
        <div class="pipe"></div>
        <div class="circle">
          <div class="subCircle"><div class="innerCircle"></div></div>
        </div>
      </div>
      <div class="box2">
        <div class="navActive">Presentation</div>
        <div class="space"></div>
        <div class="nav">Expériences Professionnelles</div>
        <div class="space"></div>
        <div class="nav">Développement</div>
        <div class="space"></div>
        <div class="nav">Portfolio des productions</div>
        <div class="space"></div>
        <div class="nav">Widgets</div>
        <div class="space"></div>
        <div class="nav">Three.js</div>
      </div>
      <div class="closeCross">
        <div class="crossCircle"></div>
        <div class="squareRight"></div>
        <div class="squareLeft"></div>
      </div>
      <div class="burger" style="display:none">
        <div class="horizontalPipeActive"></div>
        <div class="horizontalSpace"></div>
        <div class="horizontalSpace"></div>
        <div class="horizontalPipeActive"></div>
        <div class="horizontalSpace"></div>
        <div class="horizontalSpace"></div>
        <div class="horizontalPipeActive"></div>
      </div>
    </div>
  </body>
</html>
