.downloads .embed{
    height: 100% 
}

.downloads .document{

    height: 600px;
    border-radius: 15px;
    background-color: rgba(29, 29, 29, 0.534);
    padding: 25px;
}

.downloads .description{
    height: 80%;
}